### Files to be ignored by Git ###

# Liferay auto deploy dir
/liferay-deploy/*
# Node js app deploy dir
/notification-serv-deploy/*

# Vagrant
/.vagrant

# IntelliJ IDEA
/*.ipr
/*.iws
/.idea
**/*.iml

# Eclipse
/.classpath
/.project
/.settings

# Mac
**/.DS_Store

# Custom
/temp
