.twittermirror-container { 
    display: flex;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 200px;
        background-color: #f1f1f1;
    }

    li {
        display: block;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;

        &.active {
            background-color: #4CAF50;
            color: white;
        }

        &.active.pressed {
        background-color: #4C6F50;
        color: white;
        }

    }
    
    .right-box {
        margin-left: 16px;
        .feed-details {
            display: block;
        }
        .feed-replies {
            display: none;
        }
    }

    &.pressed-mode {
        .right-box {
            .feed-details {
                display: none;
            }
            .feed-replies {
                display: block;
            }
        }
    }

}
