.twittermirror-container {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 50px auto 50px;
  grid-template-areas: 
    "header status-content"
    "status-list status-content"
    "footer status-content"
}

.twittermirror-container ul {
  grid-area: status-list;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f1f1f1;
}

.twittermirror-container li {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.twittermirror-container li.active {
  background-color: #4CAF50;
  color: white;
}

.twittermirror-container li.active.pressed {
  background-color: #4C6F50;
  color: white;
}

.twittermirror-container .status-content {
  grid-area: status-content;
  margin-left: 16px;
}

.twittermirror-container .status-content .feed-details {
  display: block;
}

.twittermirror-container .status-content .feed-replies {
  display: none;
}

.twittermirror-container.pressed-mode .status-content .feed-details {
  display: none;
}

.twittermirror-container.pressed-mode .status-content .feed-replies {
  display: block;
}
