body {
  background-color: #000000;
  color: #666;
}

.twittermirror-container {
  height: 100%;
  display: grid;
  grid-template-columns: 500px auto;
  grid-template-rows: 50px auto 50px;
  grid-template-areas: 
    "header status-content"
    "status-list status-content"
    "footer status-content";
}

.twittermirror-container ul {
  grid-area: status-list;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #000000;
  overflow:hidden;
  overflow-y:scroll;
}

.twittermirror-container li {
  display : grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 50px auto 50px;
  grid-template-areas: 
    "status-metadata  status-header"
    "status-list-avatar  status-text"
    "status-stats  status-text";
  padding: 5px;
  text-decoration: none;
  transition: color 0.5s ease-in,
              border-right-color 0.5s ease-in;
  border-right-width: 5px;
  border-right-style: solid;
  border-right-color: transparent;

}

.twittermirror-container li img {
  opacity: 0.5;
  transition: opacity 0.5s ease-out;
}

.twittermirror-container li.active {
  background-clip: border-box;
  color: #fff;
  border-right-color: #fff;
  transition:  border-right-color 0.5s ease-out,
               color 0.5s ease-out;
}

.twittermirror-container li.active img {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.twittermirror-container li.active.pressed {

}

.status-list-avatar {
  grid-area: status-list-avatar
}
img.status-list-avatar {
  border-radius: 100%;
  max-width:80px;
  max-height:80px;
  width: auto;
  height: auto;
}

.status-metadata {
  grid-area: status-metadata
}

.status-header {
  grid-area: status-header
}

.status-stats {
  grid-area: status-stats;
}

.text {
  grid-area: status-text
}

.twittermirror-container .status-content {
  grid-area: status-content;
  margin-left: 16px;
}

.twittermirror-container .status-content .feed-details {
  display: block;
}

.twittermirror-container .status-content .feed-replies {
  display: none;
}

.twittermirror-container.pressed-mode .status-content .feed-details {
  display: none;
}

.twittermirror-container.pressed-mode .status-content .feed-replies {
  display: block;
}
