$black: #000000;
$color_storm_dust_approx: #666;
$white: #fff;
body {
    background-color: $black;
    color: $color_storm_dust_approx;
}

.twittermirror-container {
    height: 100%;
    display: grid;
    grid-template-columns: 500px auto;
    grid-template-rows: 50px auto 50px;
    grid-template-areas: "header status-content" "status-list status-content" "footer status-content";
    transition: opacity 1s ease-out;
    ul.status-list {
        grid-area: status-list;
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: $black;
        overflow: hidden;
        overflow-y: scroll;
        li {
            display: grid;
            grid-template-columns: 2fr 3fr;
            grid-template-rows: 50px auto 50px;
            grid-template-areas: "status-metadata status-header" "status-list-avatar status-text" "status-stats status-text";
            padding: 5px;
            text-decoration: none;
            transition: color 0.5s ease-in, border-right-color 0.5s ease-in;
            border-right-width: 5px;
            border-right-style: solid;
            border-right-color: transparent;

            img.status-list-avatar {
                opacity: 0.5;
                transition: opacity 0.5s ease-out;
                border-radius: 100%;
                max-width: 80px;
                max-height: 80px;
                width: auto;
                height: auto;
            }
            .text {
                grid-area: status-text;
            }
            .status-list-avatar {
                grid-area: status-list-avatar;
            }
            .status-metadata {
                grid-area: status-metadata;
            }
            .status-header {
                grid-area: status-header;
            }
            .status-stats {
                grid-area: status-stats;
            }

            &.active {
                background-clip: border-box;
                color: $white;
                border-right-color: $white;
                transition: border-right-color 0.5s ease-out, color 0.5s ease-out;
                img.status-list-avatar {
                    opacity: 1;
                    transition: opacity 1s ease-in;
                }
            }
        }
    }
    .status-content {
        grid-area: status-content;
        margin-left: 16px;
        transition: opacity 1s ease-out;
        .feed-details {
            display: block;
        }
        .feed-replies {
            display: block;
        }
    }
}

.loading-mode {
    transition: opacity 1s ease-in;
    opacity: 0;
}

::-webkit-scrollbar,  {
    display: none;
}

