$black: #000000;
$grey: rgb(189, 188, 188);
$white: #fff;
$not_active_opacity: 0.3;
$active_opacity: 1;
$font_weight_bold: 700;
body {
    background-color: $black;
    color: $white;
}

.twittermirror-container {
    height: 100%;
    display: grid;
    grid-template-columns: 500px auto;
    grid-template-rows: 50px auto 50px;
    grid-template-areas: "header status-content" "status-list status-content" "footer status-content";
    transition: opacity 1s ease-out;
    
    .twitter-logo {
        grid-area: header;
    }

    ul.status-list {
        grid-area: status-list;
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: $black;
        overflow-x: hidden;
        overflow-y: scroll;
        li {
            display: grid;
            grid-template-columns: 2fr 3fr;
            grid-template-rows: 50px auto 50px;
            grid-template-areas: "status-metadata status-header" "status-list-avatar status-text" "status-stats status-text";
            padding: 5px;
            text-decoration: none;
            transition: opacity 0.5s ease-in, border-right-color 0.5s ease-in;
            opacity: $not_active_opacity;
            border-right-width: 5px;
            border-right-style: solid;
            border-right-color: transparent;

            img.status-list-avatar {
                border-radius: 100%;
                max-width: 48x;
                max-height: 48px;
                width: auto;
                height: auto;
                grid-area: status-list-avatar;
            }
            .status-metadata {
                
                .screenname {
                    display: block;
                }
                .name {
                    display: block;
                }
            }
            .text {
                grid-area: status-text;
            }
            .status-metadata {
                grid-area: status-metadata;
            }
            .status-header {
                grid-area: status-header;
            }
            .status-stats {
                grid-area: status-stats;
                width: 100%;
                margin-top: 5px;
                > div {
                    display: inline-block;
                    width: 60px;
                }
            }

            &.active {
                background-clip: border-box;
                border-right-color: $white;
                transition: border-right-color 0.5s ease-out, opacity 0.5s ease-out;
                opacity: $active_opacity;
            }
        }
    }
    .status-content {
        grid-area: status-content;
        margin-left: 16px;
        transition: opacity 1s ease-out;
        opacity: $not_active_opacity;
        overflow-x: hidden;
        overflow-y: hidden;
        .feed-details {
            display: block;

            .text {
                font-size: 2em;
            }

            .status-gif, .status-video, .status-img {
                max-width: 100%;
            }

        }
        .feed-replies {
            display: block;
            ol {
                padding-left: 10px;
                list-style: none;
                li {
                    padding-left: 10px;
                    padding-bottom: 10px;
                    border-left-width: 1px;
                    border-left-color: $white;
                    border-left-style: solid;
                    .reply-text {
                        display: block;
                        padding-left: 50px;
                    }
                    .reply-list-avatar{
                        max-height: 30px;
                        max-width: 30px;
                    }
                }
            }
        }
        &.loading-mode {
            opacity: 0;
        }
    }

    &.pressed-mode {
        ul.status-list {
            overflow-y: hidden;
        }
        .status-content {
            opacity: $active_opacity;
            overflow-y: scroll;
            &.loading-mode {
                opacity: $not_active_opacity;
            }
        }
    }
    &.loading-mode {
        opacity: 0;
    }
}

.screenname, .reply-screenname {
    font-weight: $font_weight_bold;
}
.retweeted-by, .replied-to {
    //font-family: "HelveticaNeue-Light";
    color: $grey;
}

::-webkit-scrollbar {
    display: none;
}

.icon {
    display: inline-block;
    fill: $white;
    width: 16px;
    height: 16px;
  }
  