body {
  background-color: #000000;
  color: #fff; }

.twittermirror-container {
  height: 100%;
  display: grid;
  grid-template-columns: 500px auto;
  grid-template-rows: 50px auto 50px;
  grid-template-areas: "header status-content" "status-list status-content" "footer status-content";
  transition: opacity 1s ease-out; }
  .twittermirror-container .twitter-logo {
    grid-area: header; }
  .twittermirror-container ul.status-list {
    grid-area: status-list;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #000000;
    overflow-x: hidden;
    overflow-y: scroll; }
    .twittermirror-container ul.status-list li {
      display: grid;
      grid-template-columns: 2fr 3fr;
      grid-template-rows: 50px auto 50px;
      grid-template-areas: "status-metadata status-header" "status-list-avatar status-text" "status-stats status-text";
      padding: 5px;
      text-decoration: none;
      transition: opacity 0.5s ease-in, border-right-color 0.5s ease-in;
      opacity: 0.3;
      border-right-width: 5px;
      border-right-style: solid;
      border-right-color: transparent; }
      .twittermirror-container ul.status-list li img.status-list-avatar {
        border-radius: 100%;
        max-width: 48x;
        max-height: 48px;
        width: auto;
        height: auto;
        grid-area: status-list-avatar; }
      .twittermirror-container ul.status-list li .status-metadata .screenname {
        display: block; }
      .twittermirror-container ul.status-list li .status-metadata .name {
        display: block; }
      .twittermirror-container ul.status-list li .text {
        grid-area: status-text; }
      .twittermirror-container ul.status-list li .status-metadata {
        grid-area: status-metadata; }
      .twittermirror-container ul.status-list li .status-header {
        grid-area: status-header; }
      .twittermirror-container ul.status-list li .status-stats {
        grid-area: status-stats;
        width: 100%; }
        .twittermirror-container ul.status-list li .status-stats > div {
          display: inline-block;
          width: 60px; }
      .twittermirror-container ul.status-list li.active {
        background-clip: border-box;
        border-right-color: #fff;
        transition: border-right-color 0.5s ease-out, opacity 0.5s ease-out;
        opacity: 1; }
  .twittermirror-container .status-content {
    grid-area: status-content;
    margin-left: 16px;
    transition: opacity 1s ease-out;
    opacity: 0.3;
    overflow-x: hidden;
    overflow-y: hidden; }
    .twittermirror-container .status-content .feed-details {
      display: block; }
      .twittermirror-container .status-content .feed-details .status-gif, .twittermirror-container .status-content .feed-details .status-video, .twittermirror-container .status-content .feed-details .status-img {
        max-width: 100%; }
    .twittermirror-container .status-content .feed-replies {
      display: block; }
      .twittermirror-container .status-content .feed-replies ol {
        padding-left: 10px;
        list-style: none; }
        .twittermirror-container .status-content .feed-replies ol li {
          padding-left: 5px; }
          .twittermirror-container .status-content .feed-replies ol li .reply-text {
            display: block;
            padding-left: 50px; }
          .twittermirror-container .status-content .feed-replies ol li .reply-list-avatar {
            max-height: 30px;
            max-width: 30px; }
    .twittermirror-container .status-content.loading-mode {
      opacity: 0; }
  .twittermirror-container.pressed-mode ul.status-list {
    overflow-y: hidden; }
  .twittermirror-container.pressed-mode .status-content {
    opacity: 1;
    overflow-y: scroll; }
    .twittermirror-container.pressed-mode .status-content.loading-mode {
      opacity: 0.3; }
  .twittermirror-container.loading-mode {
    opacity: 0; }

.screenname, .reply-screenname {
  font-weight: 700; }

.retweeted-by, .replied-to {
  color: #bdbcbc; }

::-webkit-scrollbar {
  display: none; }

.icon {
  display: inline-block;
  fill: #fff;
  width: 16px;
  height: 16px; }
