
.aui .lustro {
    background: #000000;
    #navigation {
        .navbar-inner {
            background: #F6F6F6;
            .nav > li a {
                color: #777;
            }
        }
    }
    /* ---------- Portlet ---------- */
    
    .portlet {
        background: transparent;
        display: block;
        padding: 0px;
        margin: 0;
        -webkit-font-smoothing: antialiased;
        font-family: "HelveticaNeue-Light";

        .dimmed {
            color: #aaa;
        }
        .xdimmed {
            color: #666;
        }
        .light {
            font-family: "HelveticaNeue-UltraLight";
        }
        .portlet-title {
            color: #29B23E;
        }
        .portlet-body {
            height: 100%;
        }
        /* ---------- Portlet hover styles ---------- */
        
        .columns-max {
            .portlet {
                .portlet-topper-toolbar a {
                    color: #555;
                }
            }
        }
    }
}

.portlet-title-text {
	display: none;
}

.portlet-title {
	height: 20px;
}

@font-face {
    font-family: 'HelveticaNeue-UltraLight';
    src: url('../font/HelveticaNeue-UltraLight.eot');
    src: url('../font/HelveticaNeue-UltraLight.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    
    url('../font/HelveticaNeue-UltraLight.woff') format('woff'),
    /* Modern Browsers */
    
    url('../font/HelveticaNeue-UltraLight.ttf') format('truetype'),
    /* Safari, Android, iOS */
    
    url('../font/HelveticaNeue-UltraLight.svg#9453ea8da727d260bcdbfa605bdbb5d2') format('svg');
    /* Legacy iOS */
    
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: 'HelveticaNeue-Medium';
    src: url('../font/HelveticaNeue-Medium.eot');
    /* IE9 Compat Modes */
    
    src: url('../font/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    
    url('../font/HelveticaNeue-Medium.woff') format('woff'),
    /* Modern Browsers */
    
    url('../font/HelveticaNeue-Medium.ttf') format('truetype'),
    /* Safari, Android, iOS */
    
    url('../font/HelveticaNeue-Medium.svg#d7af0fd9278f330eed98b60dddea7bd6') format('svg');
    /* Legacy iOS */
    
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'HelveticaNeue-Light';
    src: url('../font/HelveticaNeue-Light.eot');
    /* IE9 Compat Modes */
    
    src: url('../font/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    
    url('../font/HelveticaNeue-Light.woff') format('woff'),
    /* Modern Browsers */
    
    url('../font/HelveticaNeue-Light.ttf') format('truetype'),
    /* Safari, Android, iOS */
    
    url('../font/HelveticaNeue-Light.svg#7384ecabcada72f0e077cd45d8e1c705') format('svg');
    /* Legacy iOS */
    
    font-style: normal;
    font-weight: 200;
}
